@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

$primary-text-font: 'Roboto', sans-serif;
$accent-text-font: 'Raleway', sans-serif;
$primary-text-size: 14px;


// 	font-weight: 400;
// font-size: $title-font-size;
// 	line-height: 1.71
// 	letter-spacing: 0.903em

// $font: (
// 	'primary-font-family': 'Roboto', sans-serif,

// )
