/* Палитра Цветов */

$primary-text-color: #757575;
$title-text-color: #212121;
$accent: #2196F3;
$site-nav-links-color: #212121;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$primary-background-color: #FFFFFF;
$secondary-background-color: #F5F4FA;
$add-background-color: #2F303A;
$icon-primary-color: #AFB1B8;





